
 .FormTable {
    margin:20px auto;
    border-spacing:20px;
} .FormTable .TableButton {
        text-align:center;
    }
.error-message {
    color: red;
    visibility: hidden;
    display: none;
}
