body{
	font-family: "微软雅黑";
}
a,a:hover,a:visited,a:active{
	text-decoration: none;
	color: #000000;
}
#banner{
	width: 100%;
	height: 100px;
	margin: 0 auto;
}
#banner .left-box{
	float: left;
}
#banner img{
	float: left;
	height: 100px;
	width: 100px;
	margin-left: 10px;
}
#banner .logo{
	font: "微软雅黑";
	font-size: 30px;
	line-height: 100px;
	height: 100px;
	margin-left: 10px;
}
    #banner .a-href {
        font: "微软雅黑";
        line-height: 100px;
        margin-left: 10px;
    }
#banner .right-box{
	float: right;
	height: 85px;
	text-align: center;
	padding-top: 15px;
	padding-right: 25px;
}
#banner .right-box i{
	margin-right: 10px;
}
#nav {
    width: 100%;
    height: 50px;
    margin: 10px auto;
}
#nav .left-box{
	width: 80%;
	float: left;
}
#nav .left-box ul{
	list-style: none;
	margin-top: 0;
	display: flex;
	justify-content: space-between;
}
#nav .left-box ul li{
	height: 50px;
	line-height: 50px;
}
#nav .right-box{
	float: right;
	width: 18%;
	height: 50px;
	text-align: center;
}
#nav .right-box input{
	margin-top: 8px;
	line-height: 30px;
	text-align: center;
}
#nav .right-box .button{
	height: 30px;
	width: 70px;
}
#content {
    width: 100%;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
}
#content #left-box{
	width: 20%;
	height: auto;
	margin: 5px auto;
	margin-left: 5px;
	float: left;
}
    #content #left-box .bottom-box, #content #left-box .top-box, #content #right-box .top-box {
        width: 100%;
        height: auto;
        margin-top: 10px;
        border-top: 2px solid #2b9fe2;
        border: 1px solid #ddd;
    }
#content #right-box {
	width: 78%;
	height: auto;
	margin: 5px auto;
	margin-right: 5px;
	float: right;
}
#content .title-box{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #ddd;
}
#content .title-box h1{
	width: 110px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	background-color: #fff;
 	display: inline-block;
}			
#content .title-box a{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}
.list-box ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.list-box li{
	list-style: none;
	height: 25px;
	line-height: 25px;
	margin-left: 10px;
	margin-top: 15px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.list-box u em,.list-box u span{
	float:  right;
	font-size: 13px;
}
.ClassList-box .list-box u em,#right-box .list-box u em{
	margin-left: 60px;
}
.list-box u{
	display: block;
	height: 25px;
	line-height: 25px;
	text-decoration: none;
   	overflow: hidden;
}
.list-box a{
	margin-right: 10px;			
}
.list-box em{
	float: right;
	margin-right: 10px;
}
.list-box span{
	font-size: 15px;
	margin-left: 10px;
}
#content #right-box .bottom-box .listBox-box{
	width: 100%;
	height: auto;
	display: flex;
}
#content #right-box .bottom-box .ClassList-box {
    display: inline-block;
    border-top: 2px solid #2b9fe2;
    border: 1px solid #ddd;
    margin: 10px;
    flex: 1;
}
#foot {
    width: 100%;
    height: auto;
    font-size: 12px;
    text-align: center;
    margin: 10px auto;
}