*{
	font-family: "微软雅黑";
	color: #000000;
}
body{
	margin: 0;
	padding: 0;
}
#banner {
    margin: 0 auto;
    height: 100px;
    width: 100%;
    /*background: url(../img/161120113245-10.jpg);*/
}
    #banner a {
        text-decoration: none;
    }
    #banner .logo-box {
        float: left;
        margin-left: 5px;
    }
    #banner .left-box {
        float: left;
        margin-top: 40px;
        margin-left: 30px;
        font-size: 20px;
    }
    #banner .right-box {
        margin-top: 40px;
        float: right;
        margin-right: 30px;
        font-size: 20px;
    }

#foot {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    /*
				 * background: url(../img/wallroom-1920x1080-bg-fef0b50.jpg);
					background-repeat: no-repeat;
				 */
}