#content ul,#content li{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#content #left-box {
	margin-top: 10px;
}
#content #left-box .list{
	overflow: hidden;
	
}
#content #left-box .list ul li{
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
#content #left-box .list ul li a{
	line-height: 40px;
	height: 40px;
	margin: 5px;
	padding: 5px;
	text-align: center;
	border: 1px solid #EEEEEE;
}
#content #right-box{
	margin-top: 10px;
}
#content #right-box .on{
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #ddd;
}
#content #right-box .list{
	width: 100%;
}
#content #right-box .list a img{
	width: 90px;
	height: 100px;
	float: left;
	margin-right: 12px;
	border: 0 none;
}
#content #right-box .list .text{
	overflow: hidden;
	margin-top: 5px;
	height: 75px;
}
#content #right-box .list .text u{
	display: block;
	line-height: 25px;
	text-decoration: none;
   	overflow: hidden;
}
#content #right-box .list .s{
	line-height: 25px;
	float: right;
	margin-left: 16px;
	padding-left: 16px;
	border-left: 1px dashed #000000;
}
#content #right-box .list ul li{
	padding-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px solid #ddd;
}
